/* Hella CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* urbandictionary.tv */
.hidden { display: none; }
.clear { clear: both; }

body { color: #555; overflow: hidden; font-family: sans-serif; }

a { color: #fff; }

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; outline: none; }
input:focus, button:focus { outline: none; }

html, body, #container, #header, #main { margin: 0; padding: 0; }
#container, #main { width: 100%; height: 100%; min-width: 1018px; background: }
#header, #footer, #flash { display: none; }

#overlay { }
#sidebar { }
#title { }
#player { position: absolute; z-index: 5; width: 100%; height: 100%; }


#socialmedia { position: absolute; z-index: 100; top: 10px; right: 0px;}
#socialmedia div { float: left; margin-left: 10px; }

#vhx_logo { position: absolute; z-index: 100; bottom: 0px; right: 5px; display: none; }
#vhx_logo div { float: left; }
#vhx_logo #logo { opacity: 0.7; }
#vhx_logo #logo:hover { opacity: 1; }
#vhx_logo #contact { opacity: 0.4; margin-top: 36px; margin-right: 2px; }
#vhx_logo #contact:hover { opacity: 1; }
